LocalizationExamples.xcodeproj/project.xcworkspace/xcuserdata/danielwallace.xcuserdatad/
LocalizationExamples.xcodeproj/xcuserdata/danielwallace.xcuserdatad/
.DS_Store
LocalizationExamples.xcodeproj/project.xcworkspace/xcuserdata/danielwallace.xcuserdatad/UserInterfaceState.xcuserstate